<span class="sign"><span>Sign in</span></span>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "sign-form" }) do |f| %>
  <fieldset>
    <div class="row">
      <span class="text"><input type="text" value="username"/></span>
      <span class="text"><input type="password" value="password"/></span>
      <input type="submit" value="Go" class="submit" />
    </div>
    <div class="row">
      <label for="check-1">Remember me</label>
      <input type="checkbox" class="check" id="check-1" />
      <a href="#">Forgot your password?</a>
    </div>
  </fieldset>
<% end %>
